Repository hajkmap/Hajk, pull requests merged in 2020-10, with the labels that each got.

#588 First release
  new-admin/src/index.css
  new-admin/src/views/layerforms/wmslayerform.jsx
Labels: feature-request, module:admin

#589 Fix true false to boolean
  new-admin/src/views/mapsettings.jsx
Labels: bug, module:admin

#593 Minor updates to some nuget-packages
  backend/mapservice/mapservice.csproj
  backend/mapservice/packages.config
  new-admin/package-lock.json
  new-admin/package.json
Labels: module:backend

#604 Feature/advanced printoptions
  new-admin/src/views/tools/print.jsx
  new-client/public/north_arrow.png
  new-client/src/plugins/print/AdvancedOptions.js
  new-client/src/plugins/print/GeneralOptions.js
  new-client/src/plugins/print/PrintDialog.js
  new-client/src/plugins/print/PrintModel.js
  new-client/src/plugins/print/PrintView.js
  new-client/src/plugins/print/print.js
Labels: feature-request, module:client/plugin
