Repository hajkmap/Hajk, pull requests merged in 2020-03, with the labels that each got.

#448 Changed default secondary color
  backend/mapservice/App_Data/map_1.json
Labels: module:admin

#449 New plugin: Print (client-based printing)
  new-admin/src/views/tooloptions.jsx
  new-admin/src/views/tools/print.jsx
  new-client/package-lock.json
  new-client/package.json
  new-client/src/buildConfig.json
  new-client/src/models/AppModel.js
  new-client/src/models/layers/WMSLayer.js
  new-client/src/plugins/print/PrintModel.js
  new-client/src/plugins/print/PrintView.js
  new-client/src/plugins/print/print.js
  new-client/src/utils/Delay.js
Labels: feature-request, module:client/plugin

#450 Change buttons to material-ui and added icons
  new-admin/src/index.css
  new-admin/src/views/alert.jsx
  new-admin/src/views/components/ChapterAdder.jsx
  new-admin/src/views/components/FieldEditor.jsx
  new-admin/src/views/components/Page.jsx
  new-admin/src/views/components/RichEditor.jsx
  new-admin/src/views/edit.jsx
  new-admin/src/views/informativeeditor.jsx
  new-admin/src/views/layermanager.jsx
  new-admin/src/views/mapoptions.jsx
  new-admin/src/views/mapsettings.jsx
  new-admin/src/views/search.jsx
  new-admin/src/views/tools/anchor.jsx
  new-admin/src/views/tools/bookmark.jsx
  new-admin/src/views/tools/buffer.jsx
  new-admin/src/views/tools/collector.jsx
  new-admin/src/views/tools/coordinates.jsx
  new-admin/src/views/tools/draw.jsx
  new-admin/src/views/tools/dummy.jsx
  new-admin/src/views/tools/edit.jsx
  new-admin/src/views/tools/export.jsx
  new-admin/src/views/tools/infoclick.jsx
  new-admin/src/views/tools/information.jsx
  new-admin/src/views/tools/informative.jsx
  new-admin/src/views/tools/location.jsx
  new-admin/src/views/tools/measure.jsx
  new-admin/src/views/tools/preset.jsx
  new-admin/src/views/tools/routing.jsx
  new-admin/src/views/tools/search.jsx
  new-admin/src/views/tools/streetview.jsx
  new-admin/src/views/tools/tool.jsx
Labels: module:admin, optimization

#451 Updated packages files
  new-admin/package-lock.json
  new-admin/package.json
Labels: module:admin

#452 Missed icons in last push
  new-admin/package-lock.json
  new-admin/package.json
Labels: module:admin

#453 Fixes alinment for top part of page
  new-admin/src/views/mapsettings.jsx
Labels: module:admin, optimization

#455 Added osm to map config
  backend/mapservice/Models/ToolOptions/LayerMenuOptions.cs
  new-admin/src/views/components/RichEditor.jsx
  new-admin/src/views/informativeeditor.jsx
  new-admin/src/views/mapsettings.jsx
Labels: module:admin

#454 Minor changes to RichEditor, informativeeditor
  new-admin/src/views/components/RichEditor.jsx
  new-admin/src/views/informativeeditor.jsx
Labels: module:admin

#456 Potential fix OSM for old maps
  new-admin/src/views/mapsettings.jsx
Labels: module:admin

#458 update-map.template-to-support-osm
  backend/mapservice/App_Data/map.template
Labels: module:backend

#460 Fixes MSBuildVersion check failing
  backend/mapservice/mapservice.csproj
  backend/mapservice/packages.config
Labels: module:backend

#461 Backend log-files will be ignored
  .gitignore
Labels: module:backend

#468 New print plugin used old save button
  new-admin/src/views/tools/print.jsx
Labels: module:admin

#470 Updated to final 3.5.0
  .gitignore
  backend/mapservice/mapservice.csproj
  backend/mapservice/packages.config
Labels: module:backend

#472 Fixes so layers can be deleted from admin again
  backend/mapservice/App_Data/templates/avalible_projections.template
  backend/mapservice/App_Data/templates/map.template
  backend/mapservice/Controllers/ConfigController.cs
Labels: module:backend

#474 Fixes the issue that templates not being copied when backend builds
  backend/mapservice/App_Data/templates/projections.template
  backend/mapservice/mapservice.csproj
Labels: module:backend
