Repository hajkmap/Hajk, pull requests merged in 2024-04, with the labels that each got.

#1501 Adapt admin mapconfig endpoints to API v2
  apps/admin/public/config.docker.json
  apps/admin/public/config.json
  apps/admin/public/config_example.json
  apps/admin/src/models/mapsettings.js
  docs/migrate-to-v2-api.md
Labels: module:admin

#1497 Improve custom styling ability
  apps/client/src/components/FeatureInfo/FeatureInfoContainer.js
  apps/client/src/components/Window.js
  apps/client/src/plugins/LayerSwitcher/components/LayerGroupItem.js
  apps/client/src/plugins/LayerSwitcher/components/LayerItem.js
Labels: module:client/core, module:client/plugin, new feature

#1499 Add coordinates support for configurable marker
  apps/admin/src/views/tools/coordinates.jsx
  apps/client/src/plugins/Coordinates/CoordinatesModel.js
Labels: module:client/plugin, module:admin, new feature

#1504 Feature/1494 hajk tooltip component
  apps/client/src/components/App.js
  apps/client/src/components/HajkToolTip.js
  apps/client/src/components/PluginControlButton.js
  apps/client/src/components/Search/SearchBar.js
  apps/client/src/components/Search/SearchSettings.js
  apps/client/src/components/Search/SearchTools.js
  apps/client/src/components/Search/searchResults/SearchResultsContainer.js
  apps/client/src/components/Search/searchResults/SearchResultsDatasetFeature.js
  apps/client/src/components/Search/searchResults/SearchResultsDatasetFeatureDetails.js
  apps/client/src/components/Search/searchResults/SearchResultsDatasetSummary.js
  apps/client/src/components/Search/searchResults/SearchResultsDownloadMenu.js
  apps/client/src/controls/ExternalLinks.js
  apps/client/src/controls/Information.js
  apps/client/src/controls/MapCleaner.js
  apps/client/src/controls/MapResetter.js
  apps/client/src/controls/MapSwitcher.js
  apps/client/src/controls/PresetLinks.js
  apps/client/src/controls/Rotate.js
  apps/client/src/controls/ScaleLine.js
  apps/client/src/controls/ThemeToggler.js
  apps/client/src/controls/User.js
  apps/client/src/plugins/Anchor/AnchorView.js
  apps/client/src/plugins/Buffer/BufferView.js
  apps/client/src/plugins/Coordinates/CoordinatesView.js
  apps/client/src/plugins/DocumentHandler/utils/ContentComponentFactory.js
  apps/client/src/plugins/FmeServer/FmeServerView.js
  apps/client/src/plugins/FmeServer/components/DrawToolbox.js
  apps/client/src/plugins/LayerSwitcher/components/CQLFilter.js
  apps/client/src/plugins/LayerSwitcher/components/DrawOrderListItem.js
  apps/client/src/plugins/LayerSwitcher/components/LayerGroupItem.js
  apps/client/src/plugins/LayerSwitcher/components/LayerItem.js
  apps/client/src/plugins/Location/CustomControlButtonView.js
  apps/client/src/plugins/Measurer/MeasurerView.js
  apps/client/src/plugins/Print/AdvancedOptions.js
  apps/client/src/plugins/Print/GeneralOptions.js
  apps/client/src/plugins/Print/PrintView.js
  apps/client/src/plugins/PropertyChecker/views/LayerChecker/FeatureItem.js
  apps/client/src/plugins/PropertyChecker/views/QuickLayerToggleButtons.js
  apps/client/src/plugins/Sketch/components/ActivityMenu.js
  apps/client/src/plugins/Sketch/components/DrawTypeSelector.js
  apps/client/src/plugins/Sketch/components/FeatureTitleEditor.js
  apps/client/src/plugins/Sketch/components/SketchBuffer/BufferView.js
  apps/client/src/plugins/Sketch/components/featureStyle/FeatureBufferAccordion.js
  apps/client/src/plugins/Sketch/components/featureStyle/FeatureSizeAccordion.js
  apps/client/src/plugins/Sketch/components/featureStyle/FeatureStyleAccordion.js
  apps/client/src/plugins/Sketch/components/featureStyle/FeatureStyleSelector.js
  apps/client/src/plugins/Sketch/components/featureStyle/StrokeTypeSelector.js
  apps/client/src/plugins/Sketch/views/DeleteView.js
  apps/client/src/plugins/Sketch/views/EditView.js
  apps/client/src/plugins/Sketch/views/MoveView.js
  apps/client/src/plugins/Sketch/views/SaveView.js
  apps/client/src/plugins/Sketch/views/SettingsView.js
  apps/client/src/plugins/Sketch/views/UploadView.js
  apps/client/src/plugins/TimeSlider/PlayerView.js
  apps/client/src/plugins/TimeSlider/components/PrintButton.js
  apps/client/src/plugins/TimeSlider/components/SettingsButton.js
  apps/client/src/plugins/TimeSlider/components/TimeSliderSettings.js
Labels: new feature
